 html, body{
 	margin: 0;
 	font-family: 'Roboto', sans-serif;
 	background-color: #FAFAFA;
 }
li{

	display: block;
}
.article{
	margin: 2em;
}
 .red{
 	color: red !important;

 }
.be-red{
	margin: 0px;
	background-color: #025E75;

}
.field, .top-space, .actions, .btn{
margin-top: 1em;
text-align: left;
}
.white{
	color: #FFFFFA;
}
.large-padding{
	margin: 0px;
	padding: 8px  6px;

}
a,a:visited{
	color: inherit;
	text-decoration: none;
	text-align: left;
	width: 100%;
}
.no-margin{
	margin: 0px;
}
.field{
	margin-top: 1em;
}
.form-control{
	width: 100%;
	height: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid #9FCBD3;
	padding: 12px 0px;
}
textarea{

}
.btn{
	width: 100%;
	background-color: #F24C27;
	color: #FFFFFA;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	border: none;
	outline: none;
	text-transform:  uppercase;
	cursor: pointer;
	padding: 12px 0px;
	border-radius: 3px;
	text-align: center;
}
.comment{
	font-family: 'Roboto', sans-serif;
	text-transform:  capitalize;
	color: #505050;
	font-size: medium;
	margin-top: 1em;
	border: 1px solid #EDEDED;
	background-color: #F7F7F7;
	padding: 5px 8px;
	border-radius: 5px;
	
}